# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db

# Virtual Environment
venv/
env/
.env

# Project specific ignores
the-algorithm
the-algorithm-ml
simple-web/static/uploads/*
!simple-web/static/uploads/.gitkeep
simple-web/users.db

# IDEs
.vscode/
.idea/
